In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('university.csv')
df

    名次      学校名称      总分  类型 所在省份 所在城市   办学方向   主管部门
0    1      北京大学  100.00  综合   北京  北京市  中国研究型    教育部
1    2      清华大学   98.50  理工   北京  北京市  中国研究型    教育部
2    3      复旦大学   82.79  综合   上海  上海市  中国研究型    教育部
3    4      武汉大学   82.43  综合   湖北  武汉市  中国研究型    教育部
4    5      浙江大学   82.38  综合   浙江  杭州市  中国研究型    教育部
5    6    中国人民大学   81.98  综合   北京  北京市  中国研究型    教育部
6    7    上海交通大学   81.76  综合   上海  上海市  中国研究型    教育部
7    8      南京大学   80.43  综合   江苏  南京市  中国研究型    教育部
8    9  国防科技技术大学   80.31  理工   湖南  长沙市  中国研究型   中国军委
9   10      中山大学   76.46  综合   广东  广州市  中国研究型    教育部
10  11      吉林大学   76.01  综合   吉林  长春市  中国研究型    教育部
11  12  中国科学技术大学   75.14  理工   安徽  合肥市  中国研究型  中国科学院

```
df.groupby(
by                #用于分组的变量名/函数
axis = 0  
level = None      #相应的轴存在多重索引时，指定用于分组的级别
as_index = True   #在结果中将组标签作为索引
sort = True       #结果是否按照分组关键字进行排序
dropna = True     #是否 不处理 NA
)
```

In [7]:
df2g = df.groupby('类型')
df2g

In [8]:
df2g.groups

{'理工': [1, 8, 11], '综合': [0, 2, 3, 4, 5, 6, 7, 9, 10]}

In [9]:
df2g.describe()

      名次                                                   总分             \
   count      mean       std  min  25%  50%   75%   max count       mean
类型
理工   3.0  7.666667  5.131601  2.0  5.5  9.0  10.5  12.0   3.0  84.650000
综合   9.0  6.111111  3.257470  1.0  4.0  6.0   8.0  11.0   9.0  82.693333


          std    min     25%    50%     75%    max
类型
理工  12.269845  75.14  77.725  80.31  89.405   98.5
综合   6.979627  76.01  80.430  81.98  82.430  100.0

In [18]:
list(df2g)

[('理工',
      名次      学校名称     总分  类型 所在省份 所在城市   办学方向   主管部门
  1    2      清华大学  98.50  理工   北京  北京市  中国研究型    教育部
  8    9  国防科技技术大学  80.31  理工   湖南  长沙市  中国研究型   中国军委
  11  12  中国科学技术大学  75.14  理工   安徽  合肥市  中国研究型  中国科学院),
 ('综合',
      名次    学校名称      总分  类型 所在省份 所在城市   办学方向 主管部门
  0    1    北京大学  100.00  综合   北京  北京市  中国研究型  教育部
  2    3    复旦大学   82.79  综合   上海  上海市  中国研究型  教育部
  3    4    武汉大学   82.43  综合   湖北  武汉市  中国研究型  教育部
  4    5    浙江大学   82.38  综合   浙江  杭州市  中国研究型  教育部
  5    6  中国人民大学   81.98  综合   北京  北京市  中国研究型  教育部
  6    7  上海交通大学   81.76  综合   上海  上海市  中国研究型  教育部
  7    8    南京大学   80.43  综合   江苏  南京市  中国研究型  教育部
  9   10    中山大学   76.46  综合   广东  广州市  中国研究型  教育部
  10  11    吉林大学   76.01  综合   吉林  长春市  中国研究型  教育部)]

In [17]:
df2g.max()

    名次  学校名称     总分 所在省份 所在城市   办学方向 主管部门
类型
理工  12  清华大学   98.5   湖南  长沙市  中国研究型  教育部
综合  11  浙江大学  100.0   湖北  长春市  中国研究型  教育部